@charset "utf-8";

/* 윈도우 크기가 1190px 이하 ~ 960 px 이상일때 -> 최대(max-width) 1199px    최소(min-width) 960px */

@media all and (max-width:1199px) and (min-width:960px){

 /* sec2 */
 .sec2 {
    /* height: unset; */
    height: 4300px;
}
.sec2-container {
    height: auto;
    flex-direction: column;
}
.sec2 .sec2-container .start-wrap .img-txt-box{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.start-wrap,
.card-box,
.gifts-for-her,
.gifts-for-her.him{
    width: calc(100% - 40px);
    padding: 60px 0;
}
.gifts-for-her {
    margin: 0;
}


.gifts-for-her > p {
    text-align: center;
}
.gifts-wrap {
    flex-direction: column;
    align-items: center;
}
.gifts {
    width: 100%;
    justify-content: center;
}
.gifts li {
    margin: 10px;
}
.additional__more {
    display: block;
    width: 620px;
    height: unset;
}

.additional__effect {
    display: none;
}
.additional__more p {
    text-align: center;
    padding: 20px 0;
}
.history {
    display: none;
}
.sec3-inner{
    width: 100%;
}
.video-wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.video__more{
    width: 80%;
}
.mainvideo-wrap{
    margin-right: 0;
}


.sec3-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mt-r p {
    font-size: 0.9rem;
    margin-bottom: 65px;
    padding: 0 60px;
    box-sizing: border-box;
}

.menu-list{
    width: 500px;
    text-align: end;
}
.menu-list a:first-child{
    margin-top: 0;
}
.menu-list a{
    margin-top: 30px;
}
.img-txt-box p{
    display: none;
}
.sec2 .sec2-container .start-wrap{
    width: 100%;
}
.sec2 .sec2-container .start-wrap .img-txt-box{
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
    box-sizing: border-box;
    align-items: flex-start;
}
.sec2 .sec2-container .start-wrap .img-txt-box .logo-png{
    width: 100px;
}

.sec2 .sec2-container .card-box .box.active .text-box h1{
    font-size: 20px;
}
.m-title p span{
    font-size: 56px;
}
.sub-menu-box #tab1,
.sub-menu-box #tab2{
    max-width: 1000px;
}
header{
    padding: 0 32px;
    box-sizing: border-box;
}
header .header-wrap .header-txt{
    width: 380px;
}
header .header-wrap .header-txt a{
    font-size: 14px;
}
header .header-wrap .icon-box{
    margin-left: 110px;
}
.video__more ul li .more p{
    font-size: 24px;
}

}